name: Laravel

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  laravel:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Install Dependencies
      run: composer install --no-ansi --no-interaction --no-scripts --prefer-dist
    - name: Setup PHP, with composer and extensions
      uses: shivammathur/setup-php@v3
      with:
        php-version: '8.1'
        extensions: mbstring, dom, fileinfo
    - name: Run Test
      run: vendor/bin/phpunit
